{% extends 'base.html' %}

{% block css%}
{% load static %}
<link rel="stylesheet" href='{%static "settings.css"%}'>
{% endblock %}


{% block body %}

<div class="setting1">

    <form action="/update/">
        <p class="public">Your Profile</p>
        <div class="span">{{user_initial}}</div>
        <div class="setting2"><button class="button mr1">Reset Password</button></div>

        <p class="desc">Username</p>
        <input type="text" value="{{user.username}}" class="form-control mr" name="username" id="username"><br>
        <small id="usernamevalid" class="invalid-feedback">
            <p class="p1">Your username must be 3-10 characters long and contains only alphanumeric character,
                underscore and a dot.</p>
        </small>

        <p class="desc">E-mail</p>
        <input type="text" value="{{user.email}}" class="form-control mr" name="email" id="email"><br>
        <small id="emailvalid" class="invalid-feedback">
            <p class="p1">Please enter your email address in format yourname@example.com .</p>
        </small>

        <p class="desc">Date of birth</p>
        <input type="text" value="{{user.dob}}" onfocus="(this.type='date')" class="form-control mr" name="dob" placeholder="Date of birth"><br>

        <div class="setting2"><button type="submit" class="button" onclick="return validateAll()">Save</button></div>
    </form>

</div>


<script>

    const username = document.getElementById("username");
    const email = document.getElementById("email");
    
    let validUsername = false;
    let validEmail = false;
    
    email.addEventListener('blur', (e) => {

        let email_regex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        let str2 = e.target.value;
        if (email_regex.test(str2)) {

            document.getElementById("emailvalid").style.display = "none";
            email.style.border = "";
            validEmail = true;
        }
        else {

            document.getElementById("emailvalid").style.display = "block";
            email.style.border = "1px solid red";
            validEmail = false;
        }
    })

    username.addEventListener('blur', (e) => {

        let username_regex = /^[a-zA-Z]([._-](?![._-])|[a-zA-Z0-9]){3,18}[a-zA-Z0-9]$/;
        let str = e.target.value;
        if (username_regex.test(str)) {

            document.getElementById("usernamevalid").style.display = "none";
            username.style.border = "";
            validUsername = true;
        }
        else {
            document.getElementById("usernamevalid").style.display = "block";
            username.style.border = "1px solid red";
            validUsername = false;
        }
    })


    function validateAll() {
        if (validEmail && validUsername) {
            return true;
        }
        return false;
    }
</script>

{% endblock%}